@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<p>Enter a customer name:</p>

<form method="post">
    Name:
    <br />
    <input style="width: 90%" asp-for="Input" />
    <br/>
    @Html.EditorFor(m => m.Input, new { style = "width:500px" })
    <br />

    

    <p>Here are your results: <br/></p>
    <div style="white-space: pre-line">@Html.DisplayFor(m => m.ParsedOutput)</div>
    

    
    <div class="multiline">
        @Html.EditorFor(m => m.ParsedOutput)
    </div>
    <style>
        .multiline{
            margin: 30px auto;
            width: 90%;
        }
    </style>

    <input type="submit" />
</form>
